### tmp files
\#*#
*~

### R 
# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
*.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rbuildignore
inst/doc
.RData

### OS X
.DS_Store


.Rproj.user
